{% extends "base-auth.html" %}

{% block content %}
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ _('Password Manager') }}</h3>
        </div>
        <div class="card-body">
          <form method="post">
            <div class="form-group">
              <label for="name">{{ _('Name') }}</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ group.name }}">
            </div>
            <div class="form-group">
              <label for="description">{{ _('Description') }}</label>
              <textarea class="form-control" id="description" name="description">{{ group.description }}</textarea>
            </div>
            <div class="form-group">
              <label>{{ _('Roles') }}</label>
              <select class="form-control select2" id="roles_id" name="roles_id" multiple="multiple" style="width: 100%;" data-placeholder="{{ _('Select a roles') }}">
                {% for role in roles %}
                <option value="{{ role.id }}" {% if role in password_manager_group_roles %}selected{% endif %}>{{ role.role }}</option>
                {% endfor %}
              </select>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-primary btn-block">{{ _('Submit') }}</button>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}