{% extends "base-auth.html" %}

{% block content %}
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ _('Region/Site') }}</h3>
        </div>
        <div class="card-body">
          <form action="new" method="post">
            <div class="form-group">
              <label for="name">{{ _('Name') }}</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="{{ _('New region') }}">
            </div>
            <div class="form-group">
              <label for="description">{{ _('Description') }}</label>
              <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="form-group">
              <label for="region_id">{{ _('Redis instance') }}</label>
              <select class="custom-select rounded-0" id="instance_id" name="instance_id">
                {% for instance in redis_instances %}
                <option value="{{ instance.id }}">{{ instance.name }}</option>
                {% endfor %}
              </select>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-primary btn-block">{{ _('Submit') }}</button>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}