{% extends "base-auth.html" %}

{% block content %}
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ _('Password Manager') }}</h3>
          <div class="card-tools">
            <div class="input-group input-group" style="width: 400px;">
              <input type="text" name="table_search" id="table_search" onkeyup="searchTable('table_search', 'table')" class="form-control float-right" placeholder="Search">
              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              {% if require_permission('password_manager.edit') %}
              <div class="input-group-append">
                <a href="{{ url_for('admin.password_manager_group_new') }}"><button class="btn btn-primary btn">
                  <i class="fa-solid fa-circle-plus"></i>
                </button></a>
                <a href="#import-file" data-toggle="modal" data-target="#import-file"><button class="btn btn-default btn">
                  <i class="fa-solid fa-file-import"></i>
                </button></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-hover" id="table">
                <thead>
                    <tr>
                        <th>{{ _('Name') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                    <td><a href="#modal-{{ group.id }}" data-toggle="modal" data-target="#modal-{{ group.id }}">{{ group.name }} - {{ group.description }}</a></td>
                    <td><a href="{{ url_for('admin.password_manager_new', group_id=group.id) }}"><button type="button" class="btn bg-gradient-default btn-xs"><i class="fa-solid fa-circle-plus"></i></button></a>
                      <a href="{{ url_for('admin.password_manager_group_edit', group_id=group.id) }}"><button type="button" class="btn bg-gradient-default btn-xs"><i class="fa-solid fa-pen-to-square"></i></button></a>
                        <a href="{{ url_for('admin.password_manager_group_delete', group_id=group.id) }}"><button type="button" class="btn bg-gradient-default btn-xs"><i class="fa-solid fa-trash"></i></button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
    {% for group in groups %}
    <div class="modal fade" id="modal-{{ group.id }}" tabindex='-1'>
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ group.name }} - {{ group.description }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
                <thead>
                  <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Description') }}</th>
                    <th>{{ _('Username') }}</th>
                    <th>{{ _('URL') }}</th>
                    <th>{{ _('Password') }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for password in group.password %}
                  <tr>
                    <td>{{ password.name }}</td>
                    <td>{{ password.description }}</td>
                    <td id="username_{{password.id }}">{{ password.username }}<button type="button" class="btn bg-gradient-default btn-xs" onclick="copyToClipboard('username_{{password.id }}')"><i class="fa-solid fa-copy"></i></button></td>
                    <td>{% if password.url %}<a href="{{ password.url }}" target="_blanck">{{ password.url }}</a>{% else %}-{% endif %}</td>
                    <td id="password_{{password.id }}">********<button type="button" class="btn bg-gradient-default btn-xs" onclick="copyPasswordToClipboard('{{ password.group_id }}', '{{ password.id }}')"><i class="fa-solid fa-copy"></i></button></td>
                    <td><a href="{{ url_for('admin.password_manager_edit', group_id=group.id, password_id=password.id) }}"><button type="button" class="btn bg-gradient-default btn-xs"><i class="fa-solid fa-pen-to-square"></i></button></a>
                        <a href="{{ url_for('admin.password_manager_delete', group_id=group.id, password_id=password.id) }}"><button type="button" class="btn bg-gradient-default btn-xs"><i class="fa-solid fa-trash"></i></button></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="import-file" tabindex='-1'>
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ _('Import passwords from CSV') }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ _('The file must be formatted as in the example available:') }} <a href="/uploads/passwords.csv">{{ _('here') }}</a></p>
            <form method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="file">{{ _('File') }}</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" name="file">
                    <label class="custom-file-label" for="file" data-browse="{{ _('Browse') }}">{{ _('Choose file') }}</label>
                  </div>
                </div>
              </div>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="btn btn-primary btn-block">{{ _('Submit') }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}
